{% extends 'base_client.html' %}
{% load static %}
{% block title %} Связаться с нами {% endblock %}
{% block main %}
{% load crispy_forms_tags %}
        <div class="site__body">
            <div class="page-header">
                <div class="page-header__container container">

                    <div class="page-header__title">
                        <h1>Связаться с нами</h1>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="container">
                    <div class="card mb-0 contact-us">
                        <div class="contact-us__map">
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Affd6b5eb5706d57af7b3d0b7a5fffbecedadec6c9909ac233abc5aed2980219d&amp;source=constructor" width="364" height="269" frameborder="0"></iframe>
                        </div>
                        <div class="card-body">
                            <div class="contact-us__container">
                                <div class="row">
                                    <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                                        <h4 class="contact-us__header card-title">Наш адресс</h4>
                                        <div class="contact-us__address">
                                            <p>
                                                Бакунинская улица, 81с2, Москва, 105082<br>
                                                E-mail: tire-storage@mail.ru<br>
                                                Номер телефона: +7 (123)-456-78-90
                                            </p>
                                            <p>
                                                <strong>Часы работы</strong><br>
                                                Пн-Пт: с 8:00 до 22:00<br>
                                                Суббота: с 9:00 до 21:00<br>
                                                Воскресенье: с 10:00 до 20:00
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <h4 class="contact-us__header card-title">Запрос на обратную связь</h4>
                                        <form action="" id="contact" name="contact" method="post" class="container">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="{{ form.first_name.id_for_label }}">Имя</label>
                                                    <input type="text" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" minlength="2" maxlength="20" class="form-control" onkeydown="return /[a-zA-Zа-яА-Я]/.test(event.key)" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                                                    <input type="text" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" minlength="2" maxlength="20" class="form-control" onkeydown="return /[a-zA-Zа-яА-Я]/.test(event.key)" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="{{ form.email.id_for_label }}">Электронная почта</label>
                                                    <input type="email" name="{{ form.email.name }}" id="email" minlength="2" maxlength="20" class="form-control" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="{{ form.phone_number.id_for_label }}">Номер телефона</label>
                                                    <input type="text" name="{{ form.phone_number.name }}" id="{{ form.phone_number.id_for_label }}" minlength="16" maxlength="16" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ form.topic.id_for_label }}">Тема обращения</label>
                                                <input type="text" name="{{ form.topic.name }}" id="{{ form.topic.id_for_label }}" minlength="2" maxlength="20" class="form-control" onkeydown="return /[a-zA-Zа-яА-Я]/.test(event.key)" required>
                                            </div>
                                            <div class="form-group">
                                                {{ form.msg|as_crispy_field }}
                                            </div>

                                            <input type="submit" value="Отправить" class="btn btn-primary my-2">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
  // Получаем ссылку на форму
  var form = document.getElementById('contact');
  var phoneNumberInput = document.getElementById('id_phone_number');
  var emailInput = document.getElementById('email');

  // Обработчик события oninput для поля phone_number
  phoneNumberInput.addEventListener('input', function(event) {
    formatPhoneNumber(event.target);
    validatePhoneNumber(event.target);
  });

  // Обработчик события oninput для поля email
  emailInput.addEventListener('input', function(event) {
    validateEmail(event.target);
  });

  // Функция для форматирования поля phone_number
  function formatPhoneNumber(input) {
  var phoneNumber = input.value.trim().replace(/[^0-9]/g, ''); // Удаляем все символы, кроме цифр
  var formattedPhoneNumber = '+7(' + phoneNumber.slice(1, 4) + ')' + phoneNumber.slice(4, 7) + '-' + phoneNumber.slice(7, 9) + '-' + phoneNumber.slice(9); // Форматируем номер

  input.value = formattedPhoneNumber;
}

  // Функция для валидации поля phone_number
  function validatePhoneNumber(input) {
    var phoneNumber = input.value.trim().replace(/[^0-9]/g, ''); // Удаляем все символы, кроме цифр

    if (phoneNumber.length !== 11) {
      input.classList.add('is-invalid');
    } else {
      input.classList.remove('is-invalid');
    }
  }

  // Функция для валидации поля email
  function validateEmail(input) {
    var email = input.value.trim();
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Регулярное выражение для валидации email

    if (!emailRegex.test(email)) {
      input.classList.add('is-invalid');
    } else {
      input.classList.remove('is-invalid');
    }
  }

  // Обработчик отправки формы
  form.addEventListener('submit', function(event) {
    if (phoneNumberInput.classList.contains('is-invalid') || emailInput.classList.contains('is-invalid')) {
      event.preventDefault(); // Отменяем отправку формы, если валидация не пройдена
    }
  });

</script>
{% endblock %}