{% extends 'base_client.html' %}
{% load static %}
{% block title %} Изменить пароль {% endblock %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="block">
        <div class="container">
            <div class="row">
              {% include 'client_abstract_main.html' %}
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="row no-gutters">
                         <!-- <div class="col-12 col-lg-7 col-xl-6"> -->
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" value="Сохранить" class="btn btn-primary">
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}