{% extends 'manager/base_manager.html' %}
{% load static %}
{% block title %} Детальная информация о заказе {% endblock %}
{% load crispy_forms_tags %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <a href="{% url 'manager_orders_list_view' %}" class="btn btn-xs btn-secondary">Назад к списку</a>
                        <div class="card">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="card-body">
                                    <h6 class="card-title">Заказ №{{object.pk}}</h6>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.user|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.size|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                               {{ form.period|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.status|as_crispy_field }}
                                            </div>

                                            <div class="form-group">
                                                {{ form.date_start|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.is_payed|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.quantity|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.address|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.price|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.payed_at|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.date_finish|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Обновить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}